<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.arch.dao.mapper.OptionLogMapper">
  <resultMap id="BaseResultMap" type="com.gome.arch.dao.bean.OptionLog">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="log_level" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="log_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="last_updatetiem" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gome.arch.dao.bean.OptionLog">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="log_level" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="log_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="last_updatetiem" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="log_text" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, log_level, log_create_time, last_updatetiem
  </sql>
  <sql id="Blob_Column_List">
    log_text
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gome.arch.dao.bean.OptionLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from option_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gome.arch.dao.bean.OptionLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from option_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from option_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from option_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gome.arch.dao.bean.OptionLog">
    insert into option_log (id, log_level, log_create_time, 
      last_updatetiem, log_text)
    values (#{id,jdbcType=BIGINT}, #{logLevel,jdbcType=VARCHAR}, #{logCreateTime,jdbcType=TIMESTAMP}, 
      #{lastUpdatetiem,jdbcType=TIMESTAMP}, #{logText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gome.arch.dao.bean.OptionLog">
    insert into option_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="logLevel != null">
        log_level,
      </if>
      <if test="logCreateTime != null">
        log_create_time,
      </if>
      <if test="lastUpdatetiem != null">
        last_updatetiem,
      </if>
      <if test="logText != null">
        log_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logLevel != null">
        #{logLevel,jdbcType=VARCHAR},
      </if>
      <if test="logCreateTime != null">
        #{logCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetiem != null">
        #{lastUpdatetiem,jdbcType=TIMESTAMP},
      </if>
      <if test="logText != null">
        #{logText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gome.arch.dao.bean.OptionLogExample" resultType="java.lang.Long">
    select count(*) from option_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update option_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.logLevel != null">
        log_level = #{record.logLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.logCreateTime != null">
        log_create_time = #{record.logCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdatetiem != null">
        last_updatetiem = #{record.lastUpdatetiem,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logText != null">
        log_text = #{record.logText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update option_log
    set id = #{record.id,jdbcType=BIGINT},
      log_level = #{record.logLevel,jdbcType=VARCHAR},
      log_create_time = #{record.logCreateTime,jdbcType=TIMESTAMP},
      last_updatetiem = #{record.lastUpdatetiem,jdbcType=TIMESTAMP},
      log_text = #{record.logText,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update option_log
    set id = #{record.id,jdbcType=BIGINT},
      log_level = #{record.logLevel,jdbcType=VARCHAR},
      log_create_time = #{record.logCreateTime,jdbcType=TIMESTAMP},
      last_updatetiem = #{record.lastUpdatetiem,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gome.arch.dao.bean.OptionLog">
    update option_log
    <set>
      <if test="logLevel != null">
        log_level = #{logLevel,jdbcType=VARCHAR},
      </if>
      <if test="logCreateTime != null">
        log_create_time = #{logCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatetiem != null">
        last_updatetiem = #{lastUpdatetiem,jdbcType=TIMESTAMP},
      </if>
      <if test="logText != null">
        log_text = #{logText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gome.arch.dao.bean.OptionLog">
    update option_log
    set log_level = #{logLevel,jdbcType=VARCHAR},
      log_create_time = #{logCreateTime,jdbcType=TIMESTAMP},
      last_updatetiem = #{lastUpdatetiem,jdbcType=TIMESTAMP},
      log_text = #{logText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gome.arch.dao.bean.OptionLog">
    update option_log
    set log_level = #{logLevel,jdbcType=VARCHAR},
      log_create_time = #{logCreateTime,jdbcType=TIMESTAMP},
      last_updatetiem = #{lastUpdatetiem,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>